import sys

HBASE_ROLE_MASTER = "hbase-master"
HBASE_DFS_ROLE_MASTER = "hbase-hdfs-master"
HBASE_ROLE_SLAVE = "hbase-slave"

if __name__ == '__main__':
  if len(sys.argv) != 2:
    print "Exit because of wrong input."
    sys.exit(1)
  role = sys.argv[1]
  delete_nodes = 0
  {{if exists "/deleting-hosts"}}
  delete_nodes = int({{len (gets "/deleting-hosts/*")}})
  {{end}}
  if delete_nodes == 0:
    sys.exit(0)
  else:
    if role == HBASE_ROLE_SLAVE and delete_nodes == 1:
      sys.exit(0)
    sys.exit(1)